/* 
File: QrCodeFiles.css Date: 2022-05-10 Author: Gunnar Lidén

General information
===================

This file defines the styles for the creation of QR codes HTML elements 


Remarks and references
======================
*/

body 
{
    font-family: Arial;
    font-size: 4.8mm;
    background-color: rgb(223, 224, 225);
}

.cl_div_qr_files_title
{
    height: 22mm;
    width: 330px;
    margin-top: 3mm;
    padding-top: 2mm;
    font-size: 8.6mm;
    font-weight: bold;
    color: rgb(255,0,10);
    background-color: black;
    text-align: center;
    margin-bottom: 5mm;
    clear: both;
}

.cl_qr_code_files_container
{
    width: 330px;
    margin-left: 2mm;
    overflow: hidden;
}

.cl_div_qr_buttons_category
{
    font-size: 4.3mm;
    font-weight: bold;
    clear: both;
}

.cl_div_qr_button_supporter
{
    float: left;
    margin-right: 6px;
    margin-left: 2px;
}

.cl_div_qr_button_sponsor
{
    float: left;
    margin-right: 6px;
}

.cl_div_qr_button_free
{
    float: left;
    margin-right: 6px;
}

.cl_div_qr_button_musician
{
    float: left;
}

.cl_div_qr_files_dropdown
{
    font-size: 4.3mm;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
    clear: both;    
}

.cl_div_person_name_text_box
{
    font-size: 4.3mm;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
    clear: both;
}

.cl_div_person_name_text_box
{
    font-size: 4.3mm;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
    clear: both;    
}

.cl_div_comment_text_box
{
    font-size: 4.3mm;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
    clear: both;        
}

.cl_div_address_text_box
{
    font-size: 4.3mm;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
    clear: both;   
}

.cl_div_email_contribution
{
    clear: both;
}

.cl_div_email_text_box
{
    font-size: 4.3mm;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
    float: left;       
}

.cl_div_contribution_text_box
{
    font-size: 4.3mm;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;    
}

.cl_canvas_qr_code
{
    clear: both;
}

.cl_div_qr_show_progress
{
    height: auto;
    font-size: 3.8mm;
    font-weight: bold;
    padding: 1mm;
    margin-bottom: 15px;
    border: solid 1px black;
    text-align: left;
    clear: both;    
}
