/* 
File: QrCodeFiles.css Date: 2022-05-02 Author: Gunnar Lidén

General information
===================

This file defines the styles for the creation of QR codes HTML elements 


Remarks and references
======================
*/

body 
{
    font-family: Arial;
    font-size: 4.8mm;
}

.cl_div_qr_generate_logo
{
    height: 12mm;
    width: 330px;
    margin-top: 5mm;
    font-size: 8.6mm;
    font-weight: bold;
    color: rgb(255,0,10);
    background-color: black;
    text-align: center;
    clear: both;
}

.cl_qr_code_controls
{
    margin-left: 80mm;
}

.cl_canvas_qr_code
{
    clear: both;
}

.cl_button_create_qr_files 
{
    background-color:#323036;
    padding:8px;
    margin: 30px;
    margin-left: 70px;
    color:white;
    cursor:pointer;
}
