/* 
File: QrCodeFiles.css Date: 2022-05-09 Author: Gunnar Lidén

General information
===================

This file defines the styles for the creation of QR codes HTML elements 


Remarks and references
======================
*/

body 
{
    font-family: Arial;
    font-size: 4.8mm;
    background-color: rgb(223, 224, 225);
}

.cl_div_qr_files_title
{
    height: 22mm;
    width: 330px;
    margin-top: 3mm;
    padding-top: 2mm;
    font-size: 8.6mm;
    font-weight: bold;
    color: rgb(255,0,10);
    background-color: black;
    text-align: center;
    margin-bottom: 5mm;
    clear: both;
}

.cl_qr_code_files_container
{
    width: 330px;
    margin-left: 2mm;
}

.cl_div_qr_files_dropdown
{
    margin-bottom: 10px;
    clear: both;    
}

.cl_canvas_qr_code
{
    clear: both;
}

.cl_div_qr_show_progress
{
    height: auto;
    font-size: 3.8mm;
    font-weight: bold;
    padding: 1mm;
    margin-bottom: 15px;
    border: solid 1px black;
    text-align: left;
    clear: both;    
}
