/* 
File: QrCodeShow.css Date: 2022-05-04 Author: Gunnar Lidén

General information
===================

This file defines the styles for the creation of QR codes HTML elements 


Remarks and references
======================
*/

body 
{
    font-family: Arial;
    font-size: 4.8mm;
}

.cl_div_qr_show_logo
{
    height: 22mm;
    width: 330px;
    margin-top: 3mm;
    padding-top: 2mm;
    font-size: 8.6mm;
    font-weight: bold;
    color: rgb(255,0,10);
    background-color: black;
    text-align: center;
    margin-bottom: 5mm;
    clear: both;
}

.cl_qr_code_show_container
{
    width: 330px;
    margin-left: 2mm;
}

.cl_canvas_qr_code
{
    clear: both;
}

.cl_div_button_show_qr_file
{
    text-align: center;
}    

.cl_button_show_qr_file 
{
    background-color:#323036;
    padding:8px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    cursor:pointer;
}

.cl_div_input_code
{
    text-align: center;
}

input 
{
    padding:5px;
    background-color:transparent;
    border:none;
    border-bottom:solid 4px black;
    width:150px;
    margin-bottom: 0mm;
    margin-left: 0px;
    text-align: center;
    font-size:16px;
}

.cl_div_qr_code_image
{
    padding-left: 50px;
}

.cl_div_qr_code_show_text
{
    text-align: center;
}