/* 
File: QrCodeScan.css Date: 2022-08-05 Author: Gunnar Lidén

General information
===================

This file defines the styles for the scanning of QR codes


Remarks and references
======================
*/

body 
{
    font-family: Arial;
    font-size: 3.8mm;
    background-color: rgb(223, 224, 225);
}

.cl_qr_code_scan_container
{
    width: 330px;
    margin-left: 2mm;
    border: 1px dashed gray;
}

.cl_div_qr_reader
{
    width: 400px;
}


.cl_div_qr_reader_logo
{
    height: 22mm;
    width: 330px;
    margin-top: 1mm;
    padding-top: 2mm;
    font-size: 8.6mm;
    font-weight: bold;
    color: rgb(255,0,10);
    background-color: black;
    text-align: center;
    clear: both;
}

.cl_div_qr_reader_result
{
    font-size: 5.6mm;
    font-weight: bold;
    min-height: 10mm;
    width: auto;
    padding: 15px;
    text-align: center;
    /* border: 1px solid blue; */
    clear: both;
}

.cl_div_next_qr_scan
{
    font-size: 4.6mm;
    font-weight: bold;
    width: 100px;
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    /* border: 1px solid black; */
    background-color: gray;
    cursor: pointer;
    clear: both;
}